body {
    background-image:url("https://images5.alphacoders.com/594/thumb-1920-594305.jpg");
    margin-bottom: 10%;
    color:#FFFFFF;
}

ul {
  list-style-type: none;
  padding:0;
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
}

p {
    text-align: center;
    color: white;
    margin-top: 3%;
    font-size: 24px;
}

.container {
    border: 2px solid white;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 950px;
    border-radius: 15px;
    background-color: rgb( 220, 220, 220, 0.3)
}

#quiz-view {
  display:none;
}

#submit-button {
    margin-top: 10%;
}

.radioInput {
    text-align: center;
    margin-left: 10%;
    color: white;

}
