body {
    background-image:url("https://images5.alphacoders.com/594/thumb-1920-594305.jpg");
}

h1 {
    text-align: center;
    color: white;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container {
    border: 1px solid white;
    width: 60%;
    margin: 0 auto;
    height: 40%;
    border-radius: 15px;
    background-color: rgb( 220, 220, 220, 0.3)
}

button {
    margin-top: 145px;
    margin-left: 40%;
    background: rgb( 220, 220, 220, 0.7);
    width: 200px;
    height: 60px;
    border-radius: 8px;
    font-size: 30px;
}
